<mat-toolbar color="primary">
    <span>Meu Aplicativo</span>
    <span class="espacamento-toolbar"></span>
    <button mat-icon-button (click)="deslogar()">
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="true">
        <mat-nav-list>
            <a mat-list-item href="" routerLink="/home">Home</a>
            <a mat-list-item href="" routerLink="/pagina-um">Página 1</a>
            <a mat-list-item href="" routerLink="/pagina-dois">Página 2</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>