<mat-toolbar color="{{ _theme }}">
    <span>{{ "minha-aplicacao" | translate }}</span>
    <span class="espacamento-toolbar"></span>
    <button mat-icon-button (click)="deslogar()">
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="true">
        <mat-nav-list>
            <a mat-list-item href="" routerLink="/home">{{ "menu-home" | translate }}</a>
            <a mat-list-item href="" routerLink="/pagina-um">{{ "menu-pagina-1" | translate }}</a>
            <a mat-list-item href="" routerLink="/pagina-dois">{{ "menu-pagina-2" | translate }}</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>